html {
  height: 100%;
}
body {
  background: linear-gradient(-45deg, #0B486B, rgba(0, 0, 0, 0.699));
  display: grid;
  place-content: center;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: "Helvetica", sans-serif;
}

.box {
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.699), #0B486B);
  padding: 20px;
  text-align: center;
  min-height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  border: none;
  border-radius: 30px;
}

input {
  max-width: 70px;
  margin: 10px;
}

input,
select {
  padding: 5px 10px;
  border-radius: 5px;
  margin: 10px;
}

.horizontal {
  display: flex;
}

h1 {
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  color: antiquewhite;
}